# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Bulls and Cows/*
!/Bulls and Cows/task/
/Bulls and Cows/task/*
!/Bulls and Cows/task/src

# Project exclude paths
/Topics/Math library/Heron's formula/out/
/Topics/Math library/Heron's formula/out/production/classes/
/Topics/Math library/The angle between vectors/out/
/Topics/Math library/The angle between vectors/out/production/classes/
/Topics/Random/Find the seed/out/
/Topics/Random/Find the seed/out/production/classes/